// main
$main_color: #0282f9;
$main_bg_text_color: #fff;
// navbar
$nav_color: #464646;
$nav_spacing: 20px;
// fonts
$title_color: #003f5e;
$title_font_family: "Open Sans Condensed", sans-serif;
$text_color: #555;
$text_font_family: "Open Sans", sans-serif;
$text_font_size: 14px;
$secondary_text_color: #9f9f9f;
$text_link_color: #00a9d9;
$text_link_color_hover: #77daf5;
// colored sections
$dark_section_bg_color: #1c1c1c;
$dark_section_text_color: #fff;
$light_section_bg_color: #f6f6f6;
$light_section_text_color: $title_color;
// comic details
$sales_bg_color: #55ba59;
$sales_border_color: #357739;
$sales_label_color: #bafd9c;
$details_border: #e3e3e3;
$details_color: #3f3f3f;
$cta_icon_size: 37px;
$cta_box_bg_color_hover: #e9e9e9;
// footer
$footer_bg_color: #303030;
$footer_title_color: #fff;
$footer_text_color: #959595;
$footer_socials: facebook, twitter, youtube, pinterest, periscope;
